<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="imagem/x-icon" href="../static/image/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap" rel="stylesheet">
    <title>Projetos</title>
</head>

<body>
    <div class="sidebar">
        <a href="/home">
            <img src="../static/image/logo.png" alt="" class="iconezinho">
        </a>
        <a href="/home">Home</a>
        <a href="/sobre">Sobre mim</a>
        <a href="/projetos">Projetos</a>
        <a href="/contato" class="active">Contato</a>
    </div>
    <div class="content">
        <div class="bloco">
            <a href="https://github.com/Tuuca">
                <img src="../static/image/github.jpg" alt="" class="icone">
            </a>
            <div class="textoo">
                <p class="textotitulo">Github</p>
                <p class="texto">Tuuca</p>
            </div>
        </div>
        <div class="bloco">
            <a href="https://twitter.com/Tuuca_">
                <img src="../static/image/twitter.png" alt="" class="icone">
            </a>
            <div class="textoo">
                <p class="textotitulo">Twitter</p>
                <p class="texto">@Tuuca_</p>
            </div>
        </div>
        <div class="bloco">
            <a href="https://www.instagram.com/tuuca__/">
                <img src="../static/image/instagram.png" alt="" class="icone">
            </a>
            <div class="textoo">
                <p class="textotitulo">Instagram</p>
                <p class="texto">@tuuca__</p>
            </div>
        </div>
        <div class="bloco">
            <a href="mailto:gabrielkratos9@gmail.com">
                <img src=" ../static/image/gmail.png" alt="" class="icone">
            </a>
            <div class="textoo">
                <p class="textotitulo">Gmail</p>
                <p class="texto">gabrielkratos9@gmail.com</p>
            </div>
        </div>
    </div>
</body>

</html>