<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Gabriel - Portifólio</title>
</head>
<body>
    <div class="sidenav">
        <img src="../static/image/foto2.jpeg" alt="teste" class="foto2">
        <a href="home.html" class="selecionado">Home</a>
        <a href="sobre.html">Sobre mim</a>
        <a href="projetos.html">Projetos</a>
        <a href="contato.html">Contato</a>
      </div>
    <div class="meio">
        <img src="../static/image/foto1.jpg" alt="Foto" class="foto">
        <h1>
            Olá
        </h1>
        <h2>
            Sou Gabriel da Cunha </br> Programador back-end
        </h2>
    </div>
</body>
</html>